*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f7f7f7;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:white;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

header{
    text-align:center;
    padding:100px 20px;
}

header img{
    width:180px;
    border-radius:50%;
    margin-bottom:20px;
}

h1{
    font-size:3rem;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#0066ff;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

section{
    padding:80px 10%;
}

.card{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    border-radius:10px;
}